/* CSS for the admin  pages */
body { background-color: #F5FCFD; color: #000; font-family: Verdana, Arial;}
img { border: 0; }
form { margin: 0; }
.input { border: 1px solid #BBD8E7; }
.lefttd { background-color: #FFF; font-size: 12px; padding: 3px; }
.lefttd a, .lefttd a:visited { color: blue; }
.righttd { background-color: #EDFBFC; font-size: 12px; width: 300px; }
.righttd2 { background-color: #EDFBFC; font-size: 12px; }
.displaytd { background-color: #FFF; width:50px; }
.section, .section a { color: #0A3E75; background-color: #EAF3FA; font-weight: bold; font-size: 14px; }
.subsection { color: navy; font-weight: bold; font-size: 10px; }
td { font-family: Verdana, Arial; }
table { background-color: #000; border: 0; width: 100%; text-align: left; }
textarea { float: left; }
.textarea_resize { float: left; margin: 0; padding: 0; }
.textarea_resize img { margin: 1px; padding: 0; cursor: pointer; }
.adminlinks { font-size: 10px; clear: both; margin: 10px 0 2px 0; padding: 3px; }
.adminlinks a, .adminlinks a:visited { text-decoration: none; }
.adminlinks a:hover { text-decoration: underline; }
/*  Side menu stuff */
#sidemenu { padding: 0; margin: 0; width: 120px; border-width: 1px 1px 0 1px; border-style: solid; border-color: #BBD8E7; position: fixed; top: 50px; left: 10px; font-size: 12px; font-weight: bold; }
#menutitles { background-color: #EAF3FA; color: #FFF; padding: 0; margin: 0; width: 120px; } 
#menutitles li { padding: 0; margin: 0; }
#menutitles li span { line-height: 25px; margin: 0 10px; padding: 0; color: #1C6280; }
.menutitle { border-bottom: 1px solid #BBD8E7; }
.menulinks { list-style-position: outside; background-color: #FFFFFF; margin: 0; padding: 2px 0 0 0; border-top: 1px solid #BBD8E7; }
.menulinks li { padding: 1px 1px 1px 6px; font-weight: normal; }
.menulinks a, .menulinks a:visited, .menulinks a:active, .menulinks a:link { margin: 0; padding: 0 0 0 10px; display: block; height: 20px; color: #1C6280; text-decoration: none; }
.menulinks a:hover { background-color: #CDD2D6; }
.contenttable { position: absolute; top: 50px; left: 140px; right: 10px; padding: 0; margin: 0; }
.error, .alert, .notice, .success, .info { padding:0.8em; margin-bottom:1em; border:2px solid #ddd; }
.error, .alert { background:#fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice { background:#fff6bf; color: #514721; border-color: #ffd324; }
.success { background:#e6efc2; color: #264409; border-color: #c6d880; }
.info { background:#d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a { color: #514721; }
.success a { color: #264409; }
.info a { color: #205791; }
/* CSS for the admin  pages */
body { background-color: #F5FCFD; color: #000; font-family: Verdana, Arial;}
img { border:0; }
form { margin: 0; }
.input { border: 1px solid #BBD8E7; }
.lefttd { background-color: #FFF; font-size: 12px; padding: 3px; }
.lefttd a, .lefttd a:visited { color: blue; }
.righttd { background-color: #EDFBFC; font-size: 12px; width: 300px; }
.righttd2 { background-color: #EDFBFC; font-size: 12px; }
.displaytd { background-color: #FFF; width:50px; }
.section, .section a { color: #0A3E75; background-color: #EAF3FA; font-weight: bold; font-size: 14px; }
.subsection { color: navy; font-weight: bold; font-size: 10px; }
td { font-family: Verdana, Arial; }
table { background-color: #000; border: 0; width: 100%; text-align: left; }
textarea { float: left; }
.textarea_resize { float: left; margin: 0; padding: 0; }
.textarea_resize img { margin: 1px; padding: 0; cursor: pointer; }
.adminlinks { font-size: 10px; clear: both; margin: 10px 0 2px 0; padding: 3px; }
.adminlinks a, .adminlinks a:visited { text-decoration: none; }
.adminlinks a:hover { text-decoration: underline; }
/*  Side menu stuff */
#sidemenu { padding: 0; margin: 0; width: 120px; border-width: 1px 1px 0 1px; border-style: solid; border-color: #BBD8E7; position: fixed; top: 50px; left: 10px; font-size: 12px; font-weight: bold; }
#menutitles { background-color: #EAF3FA; color: #FFF; padding: 0; margin: 0; width: 120px; } 
#menutitles li { padding: 0; margin: 0; }
#menutitles li span { line-height: 25px; margin: 0 10px; padding: 0; color: #1C6280; }
.menutitle { border-bottom: 1px solid #BBD8E7; }
.menulinks { list-style-position: outside; background-color: #FFFFFF; margin: 0; padding: 2px 0 0 0; border-top: 1px solid #BBD8E7; }
.menulinks li { padding: 1px 1px 1px 6px; font-weight: normal; }
.menulinks a, .menulinks a:visited, .menulinks a:active, .menulinks a:link { margin: 0; padding: 0 0 0 10px; display: block; height: 20px; color: #1C6280; text-decoration: none; }
.menulinks a:hover { background-color: #CDD2D6; }
.contenttable { position: absolute; top: 50px; left: 140px; right: 10px; padding: 0; margin: 0; }
.submit, .reset, .goback { font-family : Arial; line-height: 1.1em; border-style: solid; border-width: 2px; font-weight: bold; font-size: 1em; margin: 5px 5px 20px 5px; padding: 3px; border-radius: 10px; }
.submit { border-color: #307722; background: #B6EE9B; color: #307722; }
.reset { border-color: #AB0000; color: #AB0000; background: #E5ADAD; }
.goback { border-color: #FF9000; color: #FF9000; background: #FFF6BF; }
.submit:hover { border-color: #B6EE9B; background: #307722; color: #B6EE9B; }
.reset:hover { border-color: #E5ADAD; background: #AB0000; color: #E5ADAD; }
.goback:hover { border-color: #FFF6BF; background: #FF9000; color: #FFF6BF; }